.toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  background: #00897b;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.header {
  background: url(../img/header/header.jpg) 0 80%/cover;
}

.header__content {
  padding: 45px 0 201px 0;
}

.logo {
  width: 6%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  display: block;
  text-transform: uppercase;
  color: #191919;
  font-weight: bold;
}

.menu__link:hover {
  text-decoration: none;
  color: #10c9c3;
}

.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bottom-header__col {
  margin-top: 150px;
}

.bottom-header__title {
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.bottom-header__text {
  font-family: "Nunito";
  font-size: 18px;
  color: #1d1d1d;
  margin-bottom: 39px;
}

.bottom-header a {
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button {
  border: 2px solid #10c9c3;
  padding: 13px 36px;
  font-size: 12px;
  color: #fff;
  background: #10c9c3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #191919;
  background: transparent;
  border: 2px solid #10c9c3;
  font-weight: bold;
}

.icon-menu {
  display: none;
}

.about-us__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
}

.text {
  font-family: "nunito";
  font-size: 16px;
  color: #787878;
  margin: 37px 0;
}

.main-title {
  padding: 100px 0;
  text-align: center;
}

.skills {
  overflow-x: hidden;
}

.skills__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__col {
  padding: 0;
}

.skills__lvl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__img {
  width: 100%;
  height: 100%;
  background: url(../img/skills/bg_skills.jpg) 0 20%/100% auto no-repeat;
}

.skill-lvl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0ffff;
}

.skill-lvl__content {
  margin-left: 98px;
  padding: 164px 0;
}

.skill-lvl__title {
  font-weight: bold;
}

.skill-lvl__name {
  margin-top: 25px;
}

.skill-lvl__name span {
  font-size: 12px;
  font-weight: bold;
  margin-right: 7px;
}

.skill-lvl__charge {
  margin-top: 15px;
  height: 3px;
  min-width: 500px;
  background: #d8d8d8;
}

.skill-lvl__charge [id="1"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  max-width: 75%;
}

.skill-lvl__charge [id="2"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  width: 90%;
}

.skill-lvl__charge [id="3"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  max-width: 65%;
}

.stats {
  background: #10c9c3;
}

.stats__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-stat__img {
  margin-right: 25px;
}

.info-stat__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

.info-stat__text p {
  margin: 0;
}

.info-stat__text p:first-child {
  margin-bottom: 2px;
  font-size: 18px;
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.works__item {
  padding: 0;
}

.work-item {
  max-width: 100%;
}

.work-item:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.work-item__img {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.work-item .active_icon {
  display: none;
}

.work-item .active_icon img {
  width: 40%;
}

.work-item:hover .active_icon {
  display: block;
  position: absolute;
  top: 70%;
  left: 30%;
  text-align: center;
}

.more-works {
  background: #f5f5f5;
  padding: 46px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-works__show {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #8e8e8e;
}

.more-works__show p {
  cursor: pointer;
  margin: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.more-works__show p:hover {
  color: #32cec9;
}

.work-process__top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  padding: 60px 0 100px 0;
  background: #f5f5f5;
}

.services__col {
  text-align: center;
}

.item-service {
  margin-top: 60px;
}

.item-service__content h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin: 29px 0 19px 0;
}

.item-service__content p {
  font-family: "Nunito";
  font-size: 16px;
  color: #787878;
}

.testimonials {
  background: #10c9c3;
  padding: 168px 0 60px 0;
  color: #fff;
}

.slider__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__content {
  text-align: center;
  margin-bottom: 36px;
}

.slider__text {
  font-size: 24px;
  margin-bottom: 35px;
}

.slider__author {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dots__col {
  max-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dots__item {
  cursor: pointer;
  margin: 4px 4.5px;
  width: 10px;
  height: 10px;
  background: #b0e8e6;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.dots__item:hover {
  width: 14px;
  height: 14px;
  background: #fff;
}

.clients {
  padding: 65px 0;
}

.clients__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__col {
  text-align: center;
}

.forms {
  background: #f5f5f5;
}

.body-forms {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-forms__col {
  margin-top: 30px;
}

.body-forms__col input,
.body-forms__col textarea {
  cursor: text;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 15px;
  color: #787878;
  padding: 15px 20px;
  width: 100%;
}

.body-forms__comment {
  resize: none;
}

.bottom-forms {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-forms__col {
  margin-top: 30px;
}

.bottom-forms__button {
  text-transform: uppercase;
}

.footer {
  background: #141414;
  color: #bcbcbc;
  font-size: 15px;
}

.footer__content {
  text-align: left;
}

.footer__content li {
  list-style: none;
}

.footer__content a {
  text-decoration: none;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 26px;
}

.nav-footer__list:last-child {
  margin-left: 50px;
}

.nav-footer__link {
  color: #bcbcbc;
}

.soccial__link {
  color: #bcbcbc;
}

.about-header {
  padding: 38px 0;
  background: #fff;
}

.info-team {
  padding: 119px 0;
  background: url(../img/images2.jpg) 0 30%/cover no-repeat;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  color: #fff;
}

.info-team__row {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-team__text {
  color: #fff;
  font-weight: bold;
}

.about-me-body__photo img {
  max-width: 100%;
}

.my-info {
  padding: 140px 86px;
}

.contact-header {
  padding: 38px 0;
}

.contact {
  background: #f5f5f5;
  padding: 100px;
}

.contact__info {
  padding-right: 115px;
}

.info-contact__title {
  margin-bottom: 43px;
}

.info-contact span {
  margin-left: 6px;
}

.info-contact span,
.info-contact__text {
  color: #787878;
}

.info-contact__text {
  margin-bottom: 36px;
}

.info-contact p {
  font-family: "Nunito";
  margin-top: 16px;
  font-weight: bold;
}

.contact-map {
  margin: 20px 0;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
}

p {
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #000;
  font-size: 15px;
  font-family: "Montserrat";
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  min-width: 1170;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .header__content {
    padding: 20px 10px;
  }

  .top-header__logo {
    text-align: center;
    margin: 15px 0;
  }

  .bottom-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .bottom-header__col {
    margin: 20px 0;
  }

  .bottom-header__title {
    font-size: 30px;
  }

  .button:hover {
    border: 2px solid #10c9c3;
    background: #10c9c3;
    color: #fff;
    font-weight: normal;
  }

  .main-title {
    padding: 20px 0;
  }

  .testimonials {
    padding: 25px 0;
  }

  .clients {
    padding: 0;
  }

  .clients__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clients__col {
    margin: 20px 0;
  }

  .about-header {
    padding: 10px 0;
    text-align: center;
  }

  .about-me-body__content {
    text-align: center;
  }

  .my-info {
    padding: 40px 20px;
  }

  .my-info__title {
    margin-top: 20px;
  }

  .my-info__img {
    margin-bottom: 10px;
  }
}

@media (max-width: 1199px) {
  .skill-lvl__content {
    padding: 35px 0;
    width: 70%;
    margin: 0;
    text-align: center;
  }

  .skill-lvl__charge {
    min-width: 100%;
  }

  .stats__col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }

  .work-item {
    width: 50%;
    padding: 10px;
  }

  .work-item:hover img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }

  .work-item:hover .active_icon {
    display: none;
  }

  .more-works p:hover {
    color: #8e8e8e;
  }

  .services {
    padding: 30px 0;
  }

  .item-service {
    margin: 10px 0;
  }
}

@media (max-width: 1198.98px) {
  .contact-header {
    padding: 15px 0;
  }

  .contact {
    padding: 10px;
  }

  .contact__info {
    padding: 0;
  }
}

@media (max-width: 1182) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 989px) {
  .copyright {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .logo {
    width: 8%;
  }

  .menu__body {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    -webkit-transform: translateY(-270px);
        -ms-transform: translateY(-270px);
            transform: translateY(-270px);
    width: 50%;
    height: 100%;
    right: -10%;
    top: 0;
    z-index: 2;
  }

  .menu__body_active {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    position: absolute;
    top: 0;
    right: -10%;
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);
    z-index: 2;
  }

  .menu__list {
    display: block;
    background: #10c9c3;
    padding: 20px 0 10px 20px;
  }

  .icon-menu {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    position: absolute;
    text-outline: 18px;
    right: 17px;
    top: -40px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu_active span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu_active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu_active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(40% + 1px);
  }

  .top__title {
    font-size: 25px;
    margin-top: 15px;
  }

  .top__text {
    margin: 15px 0;
  }

  .work-process {
    margin: 15px 0;
  }

  .slider__text {
    font-size: 15px;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 764.98px) {
  .services {
    display: none;
  }
}

@media (max-width: 760px) {
  .contact {
    text-align: center;
  }
}

@media (max-width: 588px) {
  .footer__row {
    text-align: center;
  }

  .footer-contact {
    display: none;
  }
}

@media (max-width: 574.98px) {
  .clients {
    display: none;
  }
}