.header {
  background: url(../img/header/header.jpg) 0 80%/cover;
}

.header__content {
  padding: 45px 0 201px 0;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 6%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu__link {
  display: block;
  text-transform: uppercase;
  color: #191919;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover {
  text-decoration: none;
  color: #10c9c3;
}

.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-header__col {
  margin-top: 150px;
}

.bottom-header__title {
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.bottom-header__text {
  font-family: "Nunito";
  font-size: 18px;
  color: #1d1d1d;
  margin-bottom: 39px;
}

.bottom-header .button {
  border: 2px solid #10c9c3;
  padding: 13px 36px;
  font-size: 12px;
  color: #fff;
  background: #10c9c3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bottom-header .button:focus {
  outline: none;
}

.bottom-header .button:hover {
  color: #191919;
  background: transparent;
  border: 2px solid #10c9c3;
  font-weight: bold;
}

.about-us__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
}

.text {
  font-family: "nunito";
  font-size: 16px;
  color: #787878;
  margin: 37px 0;
}

.main-title {
  padding: 100px 0;
  text-align: center;
}

.skills {
  overflow-x: hidden;
}

.skills__col {
  padding: 0;
}

.skills__lvl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__img {
  width: 100%;
  height: 100%;
  background: url(../img/skills/bg_skills.jpg) 0 20%/100% auto no-repeat;
}

.skill-lvl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0ffff;
}

.skill-lvl__content {
  padding: 164px 0;
}

.skill-lvl__title {
  font-weight: bold;
}

.skill-lvl__name {
  margin-top: 25px;
}

.skill-lvl__name span {
  font-size: 12px;
  font-weight: bold;
  margin-right: 7px;
}

.skill-lvl__charge {
  margin-top: 15px;
  height: 3px;
  min-width: 500px;
  background: #d8d8d8;
}

.skill-lvl__charge [id="1"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  max-width: 336px;
}

.skill-lvl__charge [id="2"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  max-width: 428px;
}

.skill-lvl__charge [id="3"] {
  font-weight: bold;
  background: #10c9c3;
  height: 3px;
  max-width: 280px;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*:focus {
  outline: none;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Montserrat";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  min-width: 1170;
  margin: 0 auto;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}