// MEDIA
$md1: 1199.98px;
$md2: 991.98px;
$md3: 767.98px;

// HEADER
.about-header {
  padding: 38px 0;
  background: #fff;
  @media (max-width: $md1) {
    padding: 10px 0;
  }
}
// INFO-TEAM
.info-team {
  padding: 119px 0;
  background: url(../img/images2.jpg) 0 30% / cover no-repeat;
  filter: brightness(70%);

  color: #fff;

  // .info-team__row

  &__row {
    text-align: center;
    justify-content: center;
  }

  // .info-team__col

  &__col {
  }

  // .info-team__title

  &__title {
  }

  // .info-team__text

  &__text {
    color: #fff;
    font-weight: bold;
  }
}

// ABOUT-ME ==================================
.about-me-body {
  // .about-me-body__content

  &__content {
  }

  // .about-me-body__photo

  &__photo {
    & img {
      width: 100%;
    }
  }

  // .about-me-body__info

  &__info {
  }
}
.my-info {
  padding: 140px 86px;
  // .my-info__title

  &__title {
  }

  // .my-info__text

  &__text {
  }

  // .my-info__img

  &__img {
  }
}
