.clients {
    padding: 65px 0;
    // .clients__content

    &__content {
    }

    // .clients__row

    &__row {
        justify-content: space-between;
    }

    // .clients__col

    &__col {
        text-align: center;
    }

    // .clients__logo

    &__logo {
    }
}
