// HEADER
.contact-header {
    padding: 38px 0;
}
// END HEADER

// CONTACT

.contact {
    background: #f5f5f5;
    padding: 100px;

    // .contact__content

    &__content {
    }

    // .contact__row

    &__row {
    }

    // .contact__col

    &__col {
    }

    // .contact__info

    &__info {
        padding-right: 115px;
    }

    // .contact__form

    &__form {
    }
}
.info-contact {
    // .info-contact__title

    &__title {
        margin-bottom: 43px;
    }

    // .info-contact__text
    & span {
        margin-left: 6px;
    }
    & span,
    &__text {
        color: #787878;
    }
    &__text {
        margin-bottom: 36px;
    }
    & p {
        font-family: "Nunito";
        margin-top: 16px;
        font-weight: bold;
    }

    // .info-contact__address

    &__address {
    }

    // .info-contact__phone

    &__phone {
    }

    // .info-contact__email

    &__email {
    }

    // .info-contact__fax

    &__fax {
    }
}
.form-contact {
    // .form-contact__row

    &__row {
    }
}
.body-forms {
    // .body-forms__col

    &__col {
    }

    // .body-forms__name

    &__name {
    }

    // .body-forms__email

    &__email {
    }

    // .body-forms__title

    &__title {
    }

    // .body-forms__comment

    &__comment {
    }
}
.contact-map {
    padding-bottom: 100px;
}
