.footer {
  background: #141414;
  color: #bcbcbc;
  font-size: 15px;

  // .footer__content

  &__content {
    text-align: left;
    & li {
      list-style: none;
    }
    & a {
      text-decoration: none;
    }
  }

  // .footer__row

  &__row {
    display: flex;
    @media (max-width: 588px) {
      text-align: center;
    }
  }

  // .footer__copyright

  &__copyright {
  }

  // .footer__contact

  &__contact {
  }

  // .footer__nav

  &__nav {
  }

  // .footer__social

  &__social {
  }
}
.copyright {
  @media (max-width: 989px) {
    display: none;
  }
  // .copyright__content

  &__content {
  }
  &__title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 26px;
  }
}
.footer-contact {
  @media (max-width: 588px) {
    display: none;
  }
  // .footer-contact__content

  &__content {
  }
}
.nav-footer {
  // .nav-footer__content
  &__content {
  }

  // .nav-footer__list

  &__list {
    &:last-child {
      margin-left: 50px;
    }
  }

  // .nav-footer__link

  &__link {
    cursor: pointer;
    transition: 0.3s;
    color: #bcbcbc;
    &:hover {
      color: #10c9c3;
    }
  }
}
.social {
  // .social__content

  &__content {
  }

  // .social__list

  &__list {
  }
}
.soccial {
  // .soccial__link

  &__link {
    cursor: pointer;
    transition: 0.3s;
    color: #bcbcbc;
    &:hover {
      color: #10c9c3;
    }
  }
}
