.forms {
    background: #f5f5f5;
}
.body-forms {
    justify-content: center;
    // .body-forms__col

    &__col {
        margin-top: 30px;
        & input,
        textarea {
            cursor: text;
            font-family: "Nunito";
            font-weight: bold;
            font-size: 15px;
            color: #787878;
            padding: 15px 20px;
            width: 100%;
        }
    }

    // .body-forms__name

    &__comment {
        resize: none;
    }
}
.bottom-forms {
    justify-content: center;
    // .bottom-forms__col

    &__col {
        margin-top: 30px;
    }

    // .bottom-forms__button

    &__button {
        text-transform: uppercase;
    }
}
