.stats {
    background: #10c9c3;
    // .stats__content
    &__content {
    }

    // .stats__row

    &__row {
        display: flex;
        justify-content: center;
    }

    // .stats__col

    &__col {
    }
}
.info-stat {
    display: flex;
    align-items: center;

    // .info-stat__img

    &__img {
        margin-right: 25px;
    }

    // .info-stat__text

    &__text {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        & p {
            margin: 0;
        }
        & p:first-child {
            text-align: left;
            margin-bottom: 2px;
            font-size: 18px;
        }
    }
}
