// MAIN CONTENT
@import "header.scss";
@import "about.scss";
@import "skills.scss";
@import "statistics.scss";
@import "works.scss";
@import "work-process.scss";
@import "services.scss";
@import "testimonials.scss";
@import "clients.scss";
@import "forms.scss";
@import "footer.scss";

// \\

// MIXINS =============
@import "mixin";
// MIXINS =============

// FONTS
@import "fonts";

// FONTS default
$fontFamily: "Montserrat";
// FONTS default

// FONTS

//  VARIABLES
$minWidth: 320px;
$maxWidth: 1366;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//  VARIABLES//

// RESET STYLE

// @import "null";

// RESET STYLE//
// MAIN STYLE
* {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: default;
}

*:focus {
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #000;
    font-size: 15px;
    &._lock {
        overflow: hidden;
    }
    font-family: $fontFamily;
    overflow-x: hidden;
}
// MAIN STYLE\\

// WRAPPER
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // &._loaded {
    // }
}
// WRAPPER \\

// CONTAINER
.container {
    min-width: $maxWidthContainer;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
