.work-process {
  // .work-process__content

  &__content {
  }

  // .work-process__top

  &__top {
    justify-content: center;
  }

  // .work-process__video

  &__video {
  }
}
.top {
  // .top__description

  &__description {
    justify-content: center;
  }

  // .top__title

  &__title {
    @media (max-width: 767.98px) {
      font-size: 25px;
      margin-top: 15px;
    }
  }

  // .top__text

  &__text {
    @media (max-width: 767.98px) {
      margin: 15px 0;
    }
  }
}
.work-process {
  // .work-process__video

  &__video {
  }
}
.work-process {
  @media (max-width: 767.98px) {
    margin: 15px 0;
  }
  // .work-process__video

  &__video {
  }
}
.video {
  // .video__content

  &__content {
  }
}
