.work-process {
    // .work-process__content

    &__content {
    }

    // .work-process__top

    &__top {
        justify-content: center;
    }

    // .work-process__video

    &__video {
    }
}
.top {
    // .top__description

    &__description {
        justify-content: center;
    }

    // .top__title

    &__title {
    }

    // .top__text

    &__text {
    }
}
.work-process {
    // .work-process__video

    &__video {
    }
}
.work-process {
    // .work-process__video

    &__video {
    }
}
.video {
    // .video__content

    &__content {
    }

    // .video__img

    &__img {
        width: 100%;
    }

    // .video__arrow

    &__arrow {
        margin: 34px;
        width: 10%;
    }
}
